@import "effects";
.info{
    display: flex;
    width: 100%;
    flex-direction: row;

    #myPhoto{
        margin-left: 30px;
        width: 250px;
        height: 250px;
    }

    animation-name: infoEffe;
    animation-duration: 0.7s;
}
.text{
    display: flex;
    padding: 10px;
    padding-top: 0px;
    text-align: justify;
    font-family: 'Alata', sans-serif;
}
.gh{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    animation-name: infoEffe;
    animation-duration: 0.7s;
    a{
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
    }
}