@import "effects";

@mixin default{
    display: flex;
    width: auto;
    margin-left: 30px;
    animation-name: infoEffe;
    animation-duration: 0.7s;
}

.info{
    @include default();
    flex-direction: row;
    #myPhoto{
        width: 250px;
        height: 250px;
    }
}
.text{
    display: flex;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
    font-family: 'Alata', sans-serif;
}
.gh{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    animation-name: infoEffe;
    animation-duration: 0.7s;
    a{
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
    }
}

.index{
    @include default();
    flex-direction: column;
}

.textTitle{
    display: flex;
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    text-align: justify;
    font-family: 'Alata', sans-serif;
    border: 3px solid black;
    border-radius: 25px;
    justify-content: center;
}
.textCode{
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Alata', sans-serif;
    border-radius: 25px;
    background-color: rgb(41, 39, 39);
    color: rgb(115, 245, 223);
    flex-direction: column;
}
.textFinal{
    padding: 25px;
    color: blue;
}
